In [3]:
# feature importance with extra Tree Classifier
from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier

In [4]:
#Load data set
filename = 'pima-indians-diabetes.data.csv'
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = read_csv(filename, names=names)
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [5]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [6]:
model=DecisionTreeClassifier()
model.fit(X,Y)

DecisionTreeClassifier()

In [9]:
#To check importace of feature
model.feature_importances_*100

array([ 6.25142677, 32.44768726,  8.5307642 ,  1.71659743,  2.85174949,
       22.79248453, 14.87335105, 10.53593927])

In [10]:
data= read_csv(filename, names=names, usecols=[1,5,6,7])

In [11]:
data

     plas  mass   pedi  age
0     148  33.6  0.627   50
1      85  26.6  0.351   31
2     183  23.3  0.672   32
3      89  28.1  0.167   21
4     137  43.1  2.288   33
..    ...   ...    ...  ...
763   101  32.9  0.171   63
764   122  36.8  0.340   27
765   121  26.2  0.245   30
766   126  30.1  0.349   47
767    93  30.4  0.315   23

[768 rows x 4 columns]